@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg,#5d90bf, #2c3c4a);
  height: 100vh;
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 27.5rem;
  margin: 3.125rem auto;
  background: #fff;
  padding: 1.25rem;
  border-radius: .625rem;
  box-shadow: -1rem 1rem 1rem .5rem rgba(0, 0, 0, 0.2);
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: .625rem;
}

form input {
  font-size: 1.5rem;
  height: 3.125rem;
  padding: 0 1.25rem;
}

form input:focus {
  outline: .0625rem solid var(--primary-color);
}

.paragrafo-resultado, .bad {
  background: rgb(109, 255, 182);
  padding: .625rem 1.25rem;
}

.bad {
  background: rgb(255, 148, 148);
}